.add{
    width: 50%;
    background-color: lemonchiffon;
    height: 92vh;
    position: relative;
    
}

.button{
    position: absolute;
    background: blue;
    bottom: 0;
    width: 100%;
    height: 46px;
    color: white;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.button:hover{
    background-color: rgba(28, 28, 90, 0.651);
}

.addbutton{
    position: absolute;
    bottom: 80px;
    right: 30px;
    background-color: tomato;
    /* padding: 10px; */
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 46px;
    cursor: pointer;
}

.addbutton:hover{
    background-color: rgb(97, 25, 13);
}

.inputShow{
    display: block;
    background-color: crimson;
    width: 50%;
    height: 20%;
    position: relative;
}

.parentInputShow{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.closeButton {
    color:white;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 10px;
    font-weight: bold;
}

.closeButton:hover {
    background-color: rgb(158, 40, 63);
    border-radius: 100%;
    
}

.singleElementRender {
    display: flex;
    flex-direction: column;
    background: cadetblue;
    padding: 8px 30px;
    margin: 20px;
    border-radius: 10px;
    height: 56px;
}

.deleteButton {
    width: 20%;
    margin-top: 5px;
    border: 1px solid yellow;
    padding: 2px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: yellow;
}